.container-fluid {
  height: 700px;
  width: 100%;
}

.bg {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 20px;
}
.logo {
  position: relative;
}
.logo i {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 28px;
  left: 15px;
}

.longbar {
  height: 550px;
}

input[type="text"] {
  width: 97%;
  background-color: #2c3e50;
  border: none;
  outline: none;
  height: 50px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.threebox {
  height: 200px;
}

.horizontalbar {
  height: 250px;
}
